//-
	Главная страница 
	Слайдер

.section.section--cover

	.bg.lazy( data-src=src.userfiles+'firstscreen/bg.jpg' )
		.element-with-video-bg.jquery-background-video-wrapper
			video.jquery-background-video.loop.autoplay.muted.playsinline( poster=src.userfiles+'firstscreen/bg.jpg' )
				source( src=src.userfiles+'firstscreen/bg.mp4' type="video/mp4" )

	.container

		h1.title #{blog.name}
		p.excerpt #{blog.description}
		p.text-center: a.btn.btn-success.btn-lg( href="#" ) Регистрация